@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Confortaa", sans-serif;
}

:root{
    --primary: #504908;
    --white: #ffffff;
    --black: #181818;
}

.container{
    padding-top: 6em;
    font-size: 10px;
}